<div class="container" style="text-align: center;margin:2%">
    <div><h1>Registro de Planes de Evacuación</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">

        <mat-form-field *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" readonly />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width" >
          <mat-label>Tipo</mat-label>
          <input matInput formControlName="htipo" />
        </mat-form-field>
  
        <br />

        <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hfecha"/>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" >
            <mat-label>Hora</mat-label>
            <input matInput formControlName="hhora">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" >
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="hdescripcion">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" >
            <mat-label>Numero de Participantes</mat-label>
            <input matInput formControlName="hdescripcion">
          </mat-form-field>
        <br />

  
        <mat-form-field>
          <mat-label>Zona</mat-label>
          <mat-select formControlName="hzona" >
            @for (z of listaZonas; track z) {
            <mat-option [value]="z.id_Zona">{{ z.nombre_zona }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>

