
<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <div>
    <button mat-button [routerLink]="['menu']" style="color: white">
      <mat-icon>home</mat-icon>Home
    </button>
    <button mat-button [matMenuTriggerFor]="menuZona" style="color: white">
      <mat-icon>explore</mat-icon>Zonas
    </button>
    <button mat-button [matMenuTriggerFor]="menuContactoAyuda" style="color: white" >
      <mat-icon>contact_support</mat-icon>Contactos de Ayuda
    </button>
    <button mat-button [matMenuTriggerFor]="menuConsejo" style="color: white">
      <mat-icon>done</mat-icon>Consejos
    </button>
    <button mat-button [matMenuTriggerFor]="menuAlerta" style="color: white">
      <mat-icon>bookmark_border</mat-icon>Alertas
    </button>
    <button mat-button [matMenuTriggerFor]="menuZonaAlerta" style="color: white" *ngIf="isADMIN()">
      <mat-icon>compare_arrows</mat-icon>Zona Alertas
    </button>
    <button mat-button [matMenuTriggerFor]="menuZonaContacto" style="color: white" *ngIf="isADMIN()">
      <mat-icon>compare_arrows</mat-icon>Zona Contacto
    </button>
    <br />
    <button mat-button [matMenuTriggerFor]="menuPlanEvacuacion" style="color: white">
      <mat-icon>compare_arrows</mat-icon>Plan de Evacuacion
    </button>
    <button mat-button [matMenuTriggerFor]="menuSimulacro" style="color: white">
      <mat-icon>compare_arrows</mat-icon>Simulacros
    </button>
    <button mat-button [matMenuTriggerFor]="menuReporte" style="color: white">
      <mat-icon>compare_arrows</mat-icon>Reportes
    </button>
    <button mat-button [matMenuTriggerFor]="menuUsuarios" style="color: white">
      <mat-icon>person</mat-icon>Usuarios
    </button>
    <span class="spacer"></span>
  </div>
    <div class="right-menu">
      <button mat-button [matMenuTriggerFor]="menuSalir"  style="color: white">
        <mat-icon>person</mat-icon>Usuario
      </button>
    </div>
  
</mat-toolbar>

<mat-menu #menuZona="matMenu">
  <button mat-menu-item routerLink="/zonas">Listar Zonas</button>
  <button *ngIf="isADMIN()" mat-menu-item routerLink="/zonas/nuevazona">Registrar Zonas</button>
</mat-menu>
<mat-menu #menuContactoAyuda="matMenu">
  <button mat-menu-item routerLink="/contactoayuda">Listar Contactos</button>
  <button  *ngIf="isADMIN()" mat-menu-item routerLink="/contactoayuda/nuevocontactoayuda">Registrar Contactos</button>
</mat-menu>
<mat-menu #menuConsejo="matMenu">
  <button mat-menu-item routerLink="/consejos">Listar Consejos</button>
  <button  *ngIf="isADMIN()" mat-menu-item routerLink="/consejos/nuevo">Registrar Consejos</button>
</mat-menu>
<mat-menu #menuAlerta="matMenu">
  <button mat-menu-item routerLink="/alertas">Listar Alertas</button>
  <button mat-menu-item routerLink="/alertas/nuevo">Registrar Alertas</button>
</mat-menu>
<mat-menu #menuPlanEvacuacion="matMenu">
  <button mat-menu-item routerLink="/planesevacuacion">Listar Planes de Evacuación</button>
  <button  *ngIf="isADMIN()" mat-menu-item routerLink="/planesevacuacion/nuevo">Registrar Planes de Evacuación</button>
</mat-menu>
<mat-menu #menuSimulacro="matMenu">
  <button mat-menu-item routerLink="/simualcro">Listar Planes de Evacuación</button>
  <button  *ngIf="isADMIN()" mat-menu-item routerLink="/simualcro/nuevo">Registrar Planes de Evacuación</button>
</mat-menu>
<mat-menu #menuZonaAlerta="matMenu">
  <button mat-menu-item routerLink="/zonaAlerta">Listar Alertas</button>
  <button  mat-menu-item routerLink="/zonaAlerta/nuevo">Registrar Alertas</button>
</mat-menu>
<mat-menu #menuZonaContacto="matMenu">
  <button mat-menu-item routerLink="/zonacontactosayuda">Listar Contacto Ayuda</button>
  <button mat-menu-item routerLink="/zonacontactosayuda/nuevo">Registrar Contacto Ayuda</button>
</mat-menu>
<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar Contacto Ayuda</button>
  <button mat-menu-item routerLink="/usuarios/nuevo">Registrar Contacto Ayuda</button>
</mat-menu>
<mat-menu #menuReporte="matMenu"> 
  <button mat-menu-item routerLink="/reportes/cantidadAlertasTipo">    
    <mat-icon>info</mat-icon> Cantidad de Alertas por Tipo de Desastre
  </button>
  <button mat-menu-item routerLink="/reportes/porNombreZona">    
    <mat-icon>info</mat-icon> Cantidad de Alertas por Tipo de Desastre
  </button>
  <button mat-menu-item routerLink="/reportes/cantidadAlertasUsuario">    
    <mat-icon>info</mat-icon> Cantidad de Alertas por Usuario
  </button>
  <button mat-menu-item routerLink="/reportes/cantidadAlertasZona">    
    <mat-icon>info</mat-icon> Cantidad de Alertas por Zona
  </button>
  <button mat-menu-item routerLink="/reportes/planeporzona">    
    <mat-icon>info</mat-icon> Reporte de Planes de Evacuación por Zona
  </button>
  <button mat-menu-item routerLink="/reportes/consejosportipo">    
    <mat-icon>info</mat-icon> Reporte de Consejos por Tipo de Desastres
  </button>
  
</mat-menu>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/home" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Usuario:
    <span>{{ username }}</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>

