<mat-toolbar class="custom-toolbar" *ngIf="verificar()">
  <div>
    <img class="NavLogo" src="logo2.jpg" alt="Logo de la aplicación" />
  </div>
  <div>
    <button mat-button [routerLink]="['/homes']">
      <mat-icon>home</mat-icon> Home
    </button>
    <button mat-button [matMenuTriggerFor]="menuZona">
      <mat-icon>explore</mat-icon> Zonas
    </button>
    <button
      mat-button
      [matMenuTriggerFor]="menuContactoAyuda"
      *ngIf="isDeveloper()"
    >
      <mat-icon>contact_support</mat-icon> Contactos de Ayuda
    </button>
    <button mat-button [matMenuTriggerFor]="menuConsejo">
      <mat-icon>done</mat-icon> Consejos
    </button>
    <button mat-button [matMenuTriggerFor]="menuAlerta">
      <mat-icon>bookmark_border</mat-icon> Alertas
    </button>
    <button mat-button [matMenuTriggerFor]="menuZonaAlerta">
      <mat-icon>compare_arrows</mat-icon> Zona Alertas
    </button>
    <button mat-button [matMenuTriggerFor]="menuZonaContacto">
      <mat-icon>compare_arrows</mat-icon> Zona Contacto
    </button>
    <button mat-button [matMenuTriggerFor]="menuPlanEvacuacion">
      <mat-icon>compare_arrows</mat-icon> Plan de Evacuación
    </button>
    <button mat-button [matMenuTriggerFor]="menuSimulacro">
      <mat-icon>compare_arrows</mat-icon> Simulacros
    </button>
  </div>
  <div class="right-menu">
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon> Usuario
    </button>
  </div>
</mat-toolbar>

<!-- Menú Zonas -->
<mat-menu #menuZona="matMenu">
  <button mat-menu-item routerLink="/zonas">
    <mat-icon>list_alt</mat-icon> Listar Zonas
  </button>
  <button mat-menu-item routerLink="/zonas/nuevazona">
    <mat-icon>add_circle_outline</mat-icon> Registrar Zona
  </button>
</mat-menu>

<!-- Menú Contactos de Ayuda -->
<mat-menu #menuContactoAyuda="matMenu">
  <button mat-menu-item routerLink="/contactoayuda">
    <mat-icon>list_alt</mat-icon> Listar Contactos de Ayuda
  </button>
  <button mat-menu-item routerLink="/contactoayuda/nuevocontactoayuda">
    <mat-icon>add_circle_outline</mat-icon> Registrar Contacto de Ayuda
  </button>
</mat-menu>

<!-- Menú Consejos -->
<mat-menu #menuConsejo="matMenu">
  <button mat-menu-item routerLink="/consejos">
    <mat-icon>list_alt</mat-icon> Listar Consejos
  </button>
  <button mat-menu-item routerLink="/consejos/nuevo">
    <mat-icon>add_circle_outline</mat-icon> Registrar Consejo
  </button>
</mat-menu>

<!-- Menú Alertas -->
<mat-menu #menuAlerta="matMenu">
  <button mat-menu-item routerLink="/alertas">
    <mat-icon>list_alt</mat-icon> Listar Alertas
  </button>
  <button mat-menu-item routerLink="/alertas/nuevo">
    <mat-icon>add_alert</mat-icon> Registrar Alerta
  </button>
  <button mat-menu-item routerLink="/reportes/cantidadAlertasTipo">
    <mat-icon>info</mat-icon> Cantidad de Alertas por Tipo de Desastre
  </button>
</mat-menu>

<!-- Menú Zona Alertas -->
<mat-menu #menuZonaAlerta="matMenu">
  <button mat-menu-item routerLink="/zonaAlerta">
    <mat-icon>list_alt</mat-icon> Listar Alertas por Zona
  </button>
  <button mat-menu-item routerLink="/zonaAlerta/nuevo">
    <mat-icon>add_circle_outline</mat-icon> Registrar Alerta por Zona
  </button>
</mat-menu>

<!-- Menú Zona Contacto -->
<mat-menu #menuZonaContacto="matMenu">
  <button mat-menu-item routerLink="/zonacontactosayuda">
    <mat-icon>list_alt</mat-icon> Listar Contactos de Ayuda por Zona
  </button>
  <button mat-menu-item routerLink="/zonacontactosayuda/nuevo">
    <mat-icon>add_circle_outline</mat-icon> Registrar Contacto de Ayuda por Zona
  </button>
  <button mat-menu-item routerLink="/zonacontactosayuda/buscar">
    <mat-icon>search</mat-icon> Buscar Contacto de Ayuda por Nombre de Zona
  </button>
</mat-menu>

<!-- Menú Plan de Evacuación -->
<mat-menu #menuPlanEvacuacion="matMenu">
  <button mat-menu-item routerLink="/planesevacuacion">
    <mat-icon>list_alt</mat-icon> Listar Planes de Evacuación
  </button>
  <button mat-menu-item routerLink="/planesevacuacion/nuevo">
    <mat-icon>add_circle_outline</mat-icon> Registrar Plan de Evacuación
  </button>
</mat-menu>

<!-- Menú Simulacros -->
<mat-menu #menuSimulacro="matMenu">
  <button mat-menu-item routerLink="/simualcro">
    <mat-icon>list_alt</mat-icon> Listar Simulacros
  </button>
  <button mat-menu-item routerLink="/simualcro/nuevo">
    <mat-icon>add_circle_outline</mat-icon> Registrar Simulacro
  </button>
</mat-menu>

<!-- Menú Usuario -->
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/perfil">
    <mat-icon>person</mat-icon> Perfil
  </button>
  <button mat-menu-item routerLink="/logout">
    <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
  </button>
</mat-menu>

<router-outlet></router-outlet>
