<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
    <div style="text-align: center;margin: 10%;"><h1>Lista de Contactos de ayuda</h1></div>
    <div>
      <div class="card-container">
        <mat-card *ngFor="let card of dataSource.filteredData" class="card">
          <mat-card-title>{{ card.nombreInstitucion  }}</mat-card-title>
          <mat-card-content>{{ card.telefono  }}</mat-card-content>
        <div class = "iconos">
          <mat-icon style="color:#1A74BE" (click)="eliminar(card.idContactoAyuda)">delete</mat-icon>
          <mat-icon style="color:#1A74BE" [routerLink]="['ediciones1',card.idContactoAyuda]">edit</mat-icon>
          <mat-icon style="color:#1A74BE" [routerLink]="['listadoid',card.idContactoAyuda]">visibility</mat-icon>
        </div>
        </mat-card>
      </div>
      <div class = "paginador">
      <mat-paginator [length]="dataSource.data.length" 
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      (page)="updatePaginator($event)">
      </mat-paginator>
    </div>
    </div>
</div>
