<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container" *ngIf="verificar()">
  <div style="text-align: center;margin: 10%;"><h1>Lista de Simulacros</h1></div>
  <div>
    <div class="card-container">
      <mat-card *ngFor="let card of dataSource.filteredData" class="card">
        <mat-card-title>{{ card.tipoSimlacro  }}</mat-card-title>
        <mat-card-content>{{ card.fecha  }}</mat-card-content>
        <mat-card-content>{{ card.hora  }}</mat-card-content>
      <div class = "iconos">
        <mat-icon style="color:#1A74BE" *ngIf="isADMIN()" (click)="eliminar(card.idSimulacro)">delete</mat-icon>
        <mat-icon style="color:#1A74BE" *ngIf="isADMIN()" [routerLink]="['ediciones3',card.idSimulacro]">edit</mat-icon>
        <mat-icon style="color:#1A74BE" [routerLink]="['listadoid3',card.idSimulacro]">visibility</mat-icon>
      </div>
      </mat-card>
    </div>
    <div class = "paginador">
    <mat-paginator [length]="dataSource.data.length" 
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="updatePaginator($event)">
    </mat-paginator>
  </div>
  </div>
</div>