<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="container" style="text-align: center; margin: 2%; display: flex; flex-direction: row;">
  <!-- Formulario a la izquierda -->
  <div class="form-container" style="flex: 1; margin-right: 20px;">
    <div *ngIf="!edicion"><h1>Registro de Zonas</h1></div>
    <div *ngIf="edicion"><h1>Edición de Zonas</h1></div>
    
    <form [formGroup]="form" (submit)="insertar3()">
      <!-- Formulario de entrada -->
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo" />
      </mat-form-field>
      <br />
      
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="hnombre" (input)="buscarLugares()" [matAutocomplete]="auto">
      </mat-form-field>
      
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="seleccionarLugar($event)">
        <mat-option *ngFor="let lugar of lugares" [value]="lugar">
          {{ lugar.nombre }}
        </mat-option>
      </mat-autocomplete>
      <br /><br />
      
      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="hdescripcion" />
      </mat-form-field>
      <br />
      
      <mat-form-field class="example-full-width">
        <mat-label>Ubicación</mat-label>
        <input matInput formControlName="hubicacion" />
      </mat-form-field>
      <br />
      
      <mat-form-field class="example-full-width">
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="hlatitud" />
      </mat-form-field>
      <br />
      
      <mat-form-field class="example-full-width">
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="hlongitud" />
      </mat-form-field>
      <br />
      
      <p *ngIf="form.invalid && form.touched">
        Completa correctamente los campos.
      </p>

      <div>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>

  <!-- Mapa a la derecha -->
  <div class="map-container" style="flex: 1; margin-top: 60px; width: 100%; height: 400px;">
    <google-map 
      [center]="mapaCentro" 
      [zoom]="mapZoom"
      height="100%" 
      width="100%">
      <map-marker [position]="mapaCentro"></map-marker>
    </google-map>
  </div>
</div>