<div class="container">
  <!-- Sección izquierda: logo y mensaje de bienvenida -->
  <div class="left-section">
    <h1>Bienvenido a</h1>
    <h2>DISASTER RELIEF</h2>
    <p>Incríbete y descubre cómo obtener ayuda o comunicarte con un donante.</p>
  </div>

  <div class="login-container" >
    <h2>Inicie sesión</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Username" [(ngModel)]="username" />
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        [(ngModel)]="password"
      />
    </mat-form-field>
    <br />
    <button mat-raised-button class="custom-button " (click)="login()">Ingresar</button>
  </div>
    
  
</div>
