h1{
    font-weight: 700; 
    color: #4a90e2 ;
    font-size: 100px;
}
.consejo p {
    margin: 80px 0; 
}
.consejo{
    font-weight: 400; 
    color: #a3cfe3 ; 
    font-size: 14px;
    text-align: center;
    font-size: 60px;
}