<body>
    <header id="banner" class="d-flex flex-column justify-content-between vh-100"
            style="background: rgb(43,63,89);
        background: linear-gradient(87deg, rgba(43,63,89,1) 0%, rgba(104,143,195,1) 100%);">
        <!--Navbar-->
        <nav class="navbar static-top  navbar-expand-lg bg-light">
            <div class="container-fluid">
                <style>
                    .logo-img {
                        max-height: 50px; /* Ajusta este valor según la altura de tu navbar */
                        width: auto;
                    }
                </style>
                    <img src="banner.jpeg" alt="DISASTER RELIEF" class="img-fluid logo-img">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link m-auto" href="#">Home</a>
                        <a class="nav-link m-auto" href="#about">About Us</a>
                        <a class="nav-link m-auto" href="#benefits">Benefits</a> <!-- New button for Benefits -->
                        <a class="nav-link m-auto" href="#contact">Contact us</a>
                        <button [routerLink]="['/register']" class="btn btn-sign-up">Register</button>
                        <button [routerLink]="['/login']" class="btn btn-sign-up">SIGN UP</button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Body -->
        <div class="hero">
            <div class="container">
                <img class="img-fluid" src="banner.jpeg" alt="inncontrol" style="width: 100%;">
                <div class="row d-flex flex-column align-items-center justify-content-center text-white text-center">
                    <div class="col-lg-7">
                        <h1 class="display-6 mb-4 lh-base"> Tecnología para salvar vidas en situaciones críticas.</h1>
                        <p class="fs-5">Nuestro producto brinda al usuario alerta y protección en cada momento de emergencia.</p>
                        <div class="d-flex flex-column align-items-center text-center justify-content-between">
                            <a href="" class="sign-up p-3 mt-3 fs-6" [routerLink]="['/login']" >SIGN UP</a>
                             <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <main id="main">
        <section id="about" class="py-5">
            <div class="container font-family: Varela Round, sans-serif">
                <div class="row">
                    <div class="col-12 col-lg-5 d-flex justify-content-center" style="font-size:300px; color: #0066AE">
                        <i class="fa-solid fa-handshake-simple"></i>
                    </div>
                    <div class="col-12 col-lg-7 text-center text-lg-start d-flex flex-column justify-content-center">
                        <h1 class="display-7 fw-semibold lh-base" style="color: white">
                            About Us</h1>
                        <br>
                        <p class="fs-5" style="line-height: 2.2rem; color: white">En Disaster Relief, estamos dedicados a la seguridad de los peruanos. Nuestra misión es ofrecer una plataforma que permita a los ciudadanos compartir información en tiempo real sobre desastres y accidentes, ayudando a salvar vidas y reducir pérdidas materiales. Inspirados en la solidaridad de nuestra gente, creemos en el poder de la tecnología para mejorar la respuesta ante emergencias y crear comunidades más seguras y resilientes.</p>
                        <br>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="benefits" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h1 style="font-size: 35px; font-family: sans-serif; color: #00628d; font-weight: bold">Benefits</h1>
                            <br>
                            <p class="fs-5" style="line-height: 2.2rem; color: #00628d">Have control over all your important operations
                                going
                                on</p>
                        </div>
                    </div>
                </div>
                <div class="row g-4 text-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="service shadow-sm p-lg-5 p-4">
                            <div class="icon-box">
                                <i class="fa-solid fa-hands-helping fa-xl"></i> <!-- Changed icon -->
                            </div>
                            <p class="mt-4 mb-3">Asistencia rápida a personas afectadas: Permite que los usuarios que sean
                                testigos de desastres brinden apoyo a las personas afectadas directamente desde la aplicación, fomentando la solidaridad y el auxilio oportuno</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service shadow-sm p-lg-5 p-4">
                            <div class="icon-box">
                                <i class="fa-solid fa-hand-holding-heart fa-xl"></i> <!-- Changed icon -->
                            </div>
                            <p class="mt-4 mb-3">Funcionalidad para recibir donaciones: Los afectados por
                                desastres pueden solicitar y recibir donaciones de otros usuarios a través de la plataforma, ayudándoles a superar su situación</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service shadow-sm p-lg-5 p-4">
                            <div class="icon-box">
                                <i class="fa-solid fa-bell fa-xl"></i> <!-- Changed icon -->
                            </div>
                            <p class="mt-4 mb-3">Alertas geolocalizadas en tiempo real: La aplicación envía notificaciones específicas basadas en la ubicación del
                                usuario, alertándolos de posibles desastres cercanos para que puedan evacuar o tomar precauciones rápidamente </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    
        <section id="testimonials" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h1 class="display-4 fw-semibold">Testimonials</h1>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-sm-6">
                        <div class="service shadow-sm p-lg-5 p-4">
                            <p class="mb-3">
                                Durante el huaico que afectó su hogar, experimentó miedo debido al fuerte ruido, pero no hubo heridos, solo pérdidas materiales. Las autoridades brindaron ayuda con víveres y herramientas, y los afectados fueron llevados a albergues temporales.
                                Opinión: Considera que la aplicación es útil para conectar a afectados con organizaciones. Recomienda incluir un manual ilustrado para emergencias
                            </p>
                            <span>
                        <strong>Melany Nicole López (Afectada)</strong>
                    </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service shadow-sm p-lg-5 p-4">
                            <p class="mb-3">Sintió pánico al estar en un bus que atravesó un huaico, notando desorden en la evacuación por falta de conocimiento en cómo actuar.
                                Sugerencia: Propone que la aplicación incluya un chat local automático en zonas afectadas para mejorar la comunicación</p>
                            <span>
                        <strong>Amy Rosario Palacios Loyola (Afectada)</strong>
                    </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="service shadow-sm p-lg-5 p-4">
                            <p class="mb-3">Observó un deslizamiento y lo reportó en Facebook. Aunque su impacto fue mínimo, le gustaría que la aplicación
                                tuviera una lista de ubicaciones que necesiten ayuda y que las alertas sean menos intrusivas​</p>
                            <span>
                        <strong>Marcelo Estefano Felices Villasis (Testigo)</strong>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="video" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <h1 class="display-4 fw-semibold">Video Section</h1>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="video-section">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/baP3AKbshl4?si=2YqEqEKgcb9_P5Cq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    
    
    
        <section id="contact" class="py-5">
            <br>
            <h2 class=" text-center display-4 fw-semibold"><strong> Contact us</strong></h2>
    
            <div class="container py-5"  >
                <div class="row">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body" style="background-color: #dbeffe;">
                                <h2 class="card-title">Here our latest</h2>
    
                                <p class="card-text">Find out about our new updates, features,
                                    <br>
                                    promotions and tools we will have for you </p>
    
                                <p>Email:</p>
    
                                <input type="email" class="form-control" placeholder="disasterRelief@gmail.com" aria-label="Email">
    
                                <button type="button" class="btn btn-primary mt-3">Label</button>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-body" style="background-color: #dbeffe;">
                                <h2 class="card-title">Contact Us</h2>
    
                                <form>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="disasterRelief@gmail.com">
                                    </div>
    
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Phone Number:</label>
                                        <input type="tel" class="form-control" id="phone" placeholder="9XXXXXXXX">
                                    </div>
    
                                    <div class="mb-3">
                                        <label for="message" class="form-label">Message:</label>
                                        <textarea class="form-control" id="message" rows="3" placeholder="Tell us what you think :D"></textarea>
                                    </div>
    
                                    <button type="submit" class="btn btn-dark">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-footer" >
                <div class="footer-left">
                    <div class="footer-icon">
                        <!-- Icon Image -->
                        <img src="https://i.imgur.com/IrIi2r2.png" alt="Inncontrool">
                    </div>
                    <div class="footer-quote">
                        <p>Disaster Relief, proteccion en momentos de emergencia. </p>
                    </div>
                </div>
                <div class="footer-links">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#contact-us">Contact Us</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#benefits">Benefits</a></li>
                        <li><a href="#terms-conditions">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="footer-right">
                    <div class="footer-brand">
                        <h2>Disaster Relief </h2>
                    </div>
                    <div class="footer-socials">
                        <span>Follow us:</span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    
    </main>
    
    
    
    <script src="src/js/index.js"></script>
    </body>