<div class="container" style="text-align: center;margin:2%">
    <div><h1>Registro de Zona Alerta</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
  
        <mat-form-field>
          <mat-label>Zona</mat-label>
          <mat-select formControlName="halerta" >
            @for (z of listaZona; track z) {
            <mat-option [value]="z.id_Zona">{{ z.nombre_zona }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Contacto de Ayuda</mat-label>
            <mat-select formControlName="hzona" >
              @for (c of listaContactoAyuda; track c) {
              <mat-option [value]="c.idContactoAyuda">{{ c.nombreInstitucion }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
  
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
