<div class="container" style="text-align: center;margin:2%">
  <div *ngIf="!edicion"><h1>Registro de Zona-Alerta</h1></div>
  <div *ngIf="edicion"><h1>Edición de Zona-Alerta</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar2()">
        <mat-form-field>
          <mat-label>Zona</mat-label>
          <mat-select formControlName="hzona" >
            @for (z of listaZonas; track z) {
            <mat-option [value]="z.id_Zona">{{ z.nombre_zona }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('hzona')?.hasError('required')"
          >La zona es obligatoria.</mat-error>
        </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Alerta</mat-label>
          <mat-select formControlName="halerta" >
            @for (a of listaAlertas; track a) {
            <mat-option [value]="a.id_alerta">{{ a.tipo_desastre }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('halerta')?.hasError('required')"
          >La alerta es obligatoria.</mat-error>
        </mat-form-field>
  
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  
