<div class="container" style="text-align: center;margin:2%">
    <div><h1>Registro de Zona_Alerta</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar2()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Zona</mat-label>
          <mat-select formControlName="hzona" >
            @for (z of listaZonas; track z) {
            <mat-option [value]="z.id_Zona">{{ z.id_Zona }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Alerta</mat-label>
          <mat-select formControlName="halerta" >
            @for (a of listaAlertas; track a) {
            <mat-option [value]="a.id_alerta">{{ a.id_alerta }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  
