<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>
<div class="container">
  <div style="text-align: center; margin: 3%">
    <h1>Lista de Planes de evacuación</h1>
  </div>
  <div>
    <div class="card-container" *ngIf="verificar()">
      <mat-card *ngFor="let card of dataSource.filteredData" class="card">
        <mat-card-title>{{ card.titulo }}</mat-card-title>
        <mat-card-content><b>Descripción:</b> <br>{{ card.descripcion }}</mat-card-content><br>
        <mat-card-content><b>Rutas de Evacuación: </b><br>{{ card.rutas_evacuacion }}</mat-card-content><br>
        <mat-card-content><b>Puntos Seguros: </b><br>{{ card.puntos_seguros }}</mat-card-content><br>
        <mat-card-content><b>Nombre Zona: </b><br>{{ card.zona.nombre_zona }}</mat-card-content><br>
        <div class="iconos">
          <mat-icon
            style="color: #1a74be"
            *ngIf="isADMIN()"
            (click)="eliminar(card.id_plan_evacuacion)"
            >delete</mat-icon
          >
          <mat-icon
            style="color: #1a74be"
            *ngIf="isADMIN()"
            [routerLink]="['editar', card.id_plan_evacuacion]"
            >edit</mat-icon
          >
        </div>
      </mat-card>
    </div>
    <div class="paginador">
      <mat-paginator
        [length]="dataSource.data.length"
        [pageSize]="6"
        [pageSizeOptions]="[3, 6, 9]"
        aria-label="Select page"
        (page)="updatePaginator($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
