<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
  <div class="header">
    <h1>{{ simulacro.tipoSimlacro }}</h1>
  </div>
  <div class="simulacro">
    <div class="simulacro-info">
      <label>Descripción:</label>
      <p>{{ simulacro.descripcion }}</p>
    </div>
    <div class="simulacro-info">
      <label>Fecha:</label>
      <p>{{ simulacro.fecha }}</p>
    </div>
    <div class="simulacro-info">
      <label>Hora:</label>
      <p>{{ simulacro.hora }}</p>
    </div>
    <div class="simulacro-info">
      <label>Descripción adicional:</label>
      <p>{{ simulacro.descripcion }}</p>
    </div>
    <div class="simulacro-info">
      <label>Participantes:</label>
      <p>{{ simulacro.participantes }}</p>
    </div>
  </div>
</div>
