<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
    <div style="text-align: center; margin: 10%;">
        <h1>{{ simulacro.tipoSimlacro }}</h1>
    </div>
    <div class="simulacro">
        <div class="text-container">
            <p>{{ simulacro.descripcion }}</p>
            <p>{{ simulacro.fecha }}</p>
            <p>{{ simulacro.hora }}</p>
            <p>{{ simulacro.descripcion }}</p>
            <p>{{ simulacro.participantes }}</p>
        </div>
    </div>
</div>
