<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container" style="text-align: center;margin:2%">
  <div *ngIf="!edicion"><h1>Registro de Contactos</h1></div>
  <div *ngIf="edicion"><h1>Edición de Contactos</h1></div>
    <div>
      <form [formGroup]="form" (submit)=" insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="hnombre" />
        </mat-form-field>
        
        <br />
        <mat-form-field class="example-full-width" >
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="hdescripcion" />
          </mat-form-field>
         
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Telefono de la Institución</mat-label>
            <input matInput formControlName="htelefono" />
          </mat-form-field>
          <br />
          <p *ngIf="form.invalid && form.touched">
            Completa correctamente todos los campos.
         </p>
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
