<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
  <div class="header">
    <h1>{{ alerta.tipo_desastre }}</h1>
  </div>
  <div class="alerta">
    <div class="alerta-info">
      <label>Descripción:</label>
      <p>{{ alerta.descripcion }}</p>
    </div>
    <div class="alerta-info">
      <label>Fecha:</label>
      <p>{{ alerta.fecha }}</p>
    </div>
    <div class="alerta-info">
      <label>Hora:</label>
      <p>{{ alerta.hora }}</p>
    </div>
    <div class="alerta-info">
      <label>Nivel de Gravedad:</label>
      <p>{{ alerta.nivel_gravedad }}</p>
    </div>
  </div>
</div>
