<div class="container" style="text-align: center;margin:2%">
    <div *ngIf="!edicion"><h1>Registro de Consejos</h1></div>
    <div *ngIf="edicion"><h1>Editar Consejos</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" >
          <mat-label>Título</mat-label>
          <input matInput formControlName="htitulo" />
        </mat-form-field>
  
        <br />
        <mat-form-field class="example-full-width" >
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="hdescripcion"></textarea>
        </mat-form-field>
        <br />
  
        <mat-form-field>
          <mat-label>Alerta</mat-label>
          <mat-select formControlName="halerta" >
            @for (al of listaAlertas; track al) {
            <mat-option  [value]="al.id_alerta">{{ al.tipo_desastre }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  
