<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
    <div style="text-align: center;margin: 10%;"><h1>{{ usuario.nombre }}</h1></div>
    <div>
      <div class="usuario">
        <p>{{ usuario.apellidos }}</p>
        <p>{{ usuario.correo }}</p>
        <p>{{ usuario.direccion }}</p>
        <p>{{ usuario.fechanacimiento }}</p>
        <p>{{ usuario.telefono }}</p>
        <p>{{ usuario.username }}</p>
        <p>{{ usuario.password }}</p>
      </div>
    </div>
</div>
