<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
  <div class="header">
    <h1>{{ usuario.nombre }}</h1>
  </div>
  <div class="usuario">
    <div class="usuario-info">
      <label>Apellidos:</label>
      <p>{{ usuario.apellidos }}</p>
    </div>
    <div class="usuario-info">
      <label>Correo:</label>
      <p>{{ usuario.correo }}</p>
    </div>
    <div class="usuario-info">
      <label>Dirección:</label>
      <p>{{ usuario.direccion }}</p>
    </div>
    <div class="usuario-info">
      <label>Fecha de Nacimiento:</label>
      <p>{{ usuario.fechanacimiento }}</p>
    </div>
    <div class="usuario-info">
      <label>Teléfono:</label>
      <p>{{ usuario.telefono }}</p>
    </div>
    <div class="usuario-info">
      <label>Usuario:</label>
      <p>{{ usuario.username }}</p>
    </div>
    <div class="usuario-info">
      <label>Contraseña:</label>
      <p>{{ usuario.password }}</p>
    </div>
  </div>
</div>
