h1 {
    font-weight: 700; 
    color: #4a90e2;
    font-size: 100px;
}

.zona {
    display: flex; 
    align-items: flex-start; 
}

google-map {
    flex: 1; 
    margin-left: 40px;

}

.text-container {
    width: 35%; 
    margin-top: 100px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    
}

.zona p {
    margin: 20px 0; 
    font-weight: 400; 
    color: #a3cfe3; 
    font-size: 80px;
    text-align: left; 
    margin-bottom: 90px
}