<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
  <div class="header">
    <h1>{{ zona.nombre_zona }}</h1>
  </div>
  <div class="zona">
    <div class="map-container">
      <google-map
        [height]="'80vh'"
        [width]="'100%'"
        [center]="center"
        [zoom]="zoom">
        <map-marker
          [position]="center"
          [label]="label">
        </map-marker>
      </google-map>
    </div>
    <div class="info-container">
      <div class="zona-info">
        <label>Descripción:</label>
        <p>{{ zona.descripcion }}</p>
      </div>
      <div class="zona-info">
        <label>Ubicación:</label>
        <p>{{ zona.ubicacion }}</p>
      </div>
    </div>
  </div>
</div>

