<div class="container" style="text-align: center;margin:2%">
    <div><h1>Registro de Alertas</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
  
        <mat-form-field class="example-full-width" >
          <mat-label>Tipo Desastre</mat-label>
          <input matInput formControlName="htipo" />
        </mat-form-field>
  
        <br />

        <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="hfecha"/>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    
        <br />

        <mat-form-field class="example-full-width" >
          <mat-label>Hora</mat-label>
          <input matInput formControlName="hhora"/>
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width" >
            <mat-label>Descripcion</mat-label>
            <textarea matInput formControlName="hdescripcion"></textarea>
        </mat-form-field>
        <br />

        <mat-form-field>
            <mat-label>Gravedad</mat-label>
            <mat-select formControlName="hgravedad" >
              @for (g of listaGravedad; track g) {
              <mat-option [value]="g.value">{{ g.viewValue }}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <br />

        <section class="example-section">
            <mat-checkbox formControlName="hestado">Estado</mat-checkbox>
        </section>
        <br />
  
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="husuario" >
            @for (u of listaUsuarios; track u) {
            <mat-option [value]="u.id_usuario">{{ u.id_usuario }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
  
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
