<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<div class="container">
  <div style="text-align: center;margin: 10%;"><h1>Lista de Zonas</h1></div>
  <div class="search-container">

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre de la zona: </mat-label>
        <input matInput formControlName="nombrebusqueda">
      </mat-form-field>   
     
    </form>
  </div>
  <div>
    <div class="card-container">
      <mat-card *ngFor="let card of dataSource.filteredData" class="card">
        <mat-card-title>{{ card.nombre_zona  }}</mat-card-title>
        <mat-card-content>{{ card.ubicacion  }}</mat-card-content>
      <div class = "iconos">
        <mat-icon style="color:#1A74BE" (click)="eliminar(card.id_Zona)">delete</mat-icon>
        <mat-icon style="color:#1A74BE" [routerLink]="['ediciones',card.id_Zona]">edit</mat-icon>
        <mat-icon style="color:#1A74BE" [routerLink]="['listadoid2',card.id_Zona]">visibility</mat-icon>
      </div>
      </mat-card>
    </div>
    <div class = "paginador">
    <mat-paginator [length]="dataSource.data.length" 
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="updatePaginator($event)">
    </mat-paginator>
  </div>
  </div>
</div>
